@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

@import './variables.scss';

body,html{
	font-family: "Montserrat", sans-serif !important;
	height: 100%;
}

.btn {
	display: block;
	padding: 10px 15px;
	background: $green;
	border: none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
}
