@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

body,
html {
	font-family: "Montserrat", sans-serif !important;
	height: 100%;
}

.btn {
	display: block;
	padding: 10px 15px;
}
